<!-- end of .wrapper -->
<div class="push"></div></div>
<!-- Footer -->
<footer>
	<div class="row">
		<span>Maintained by <a href="{{ site.author.url }}">{{ site.author.name }}</a> &copy; {{ 'now' | date: "%Y" }}. Some rights reserved. All logos and trademarks are property of their respective owners. </span>
		<span>This work is licenced under the Creative Commons Attribution-Share Alike 4.0.</span>
		<ul>
			<li><a href="{{ site.baseurl }}about">About</a></li>
			<li><a href="{{ site.baseurl }}privacy">Privacy</a></li>
			<li><a href="{{ site.baseurl }}terms">Terms</a></li>
			<li><a href="{{ site.github.repo }}" target="_blank">Contribute</a></li>
		</ul>
	</div>
</footer>
</body>
</html>