{% include header.html %}

<!-- Nav -->
<nav>
	<div class="row">
		<a href="{{ site.baseurl }}">Home</a>
		<a href="{{ site.baseurl }}what-is-linux">What Is Linux?</a>
		<a href="{{ site.baseurl }}why-use-linux">Why Use Linux?</a>
		<a href="{{ site.baseurl }}switching">Making the Switch</a>
		<a href="{{ site.baseurl }}hardware">Linux Hardware</a>
	</div>
</nav>

<!-- Header -->
<header>
	<div class="row">
		<a href="{{ site.baseurl }}"><img class="logo" src="{{ site.dirs.images }}{{ site.logo.sitelogo }}"></a>
	</div>
</header>

<!-- row -->
<div class="row {{ page.row }}">
{{ content }}
</div>

{% include footer.html %}